bin/.svn/README.txt
bin/.svn/empty-file
bin/.svn/entries
bin/.svn/format
bin/.svn/prop-base/perceptron.rb.svn-base
bin/.svn/props/perceptron.rb.svn-work
bin/.svn/text-base/perceptron.rb.svn-base
lib/.svn/README.txt
lib/.svn/empty-file
lib/.svn/entries
lib/.svn/format
lib/.svn/text-base/perceptron.rb.svn-base
test/.svn/README.txt
test/.svn/empty-file
test/.svn/entries
test/.svn/format
test/.svn/text-base/tc_perceptron.rb.svn-base
